[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ReUseData"]
	path = ReUseData
	url = https://github.com/rworkflow/reusedata
	shallow = true
	registered = true
